  <label class="password-label">
    <button
      type="button"
      class="show-hide-button"
      (click)="togglePasswordVisibility()"
    >
      {{ showPassword ? "Hide" : "Show" }}</button
    ><input
      #password
      class="password-input"
      type="{{ showPassword ? 'text' : 'password' }}"
      [placeholder]="placeholderText"
      (focus)="clearPlaceholder()"
      (blur)="addPlaceholder()"
      (input)="handleInput(password.value)"
    />
    <p class="password-strength" *ngIf="!!password.value">
      {{ passwordStrength }}
    </p>
  </label>
