.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 25px;
  transition: color 0.3s;
  color: black;
}

.title:hover,
.title:focus {
  color: rgb(65, 62, 62);
  transition: color 0.3s;
}
